@{
    ViewData["Title"] = "No Access";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page Not Found</p>
        <p class="text-gray-500 mb-4">It looks like you found a glitch in the matrix...</p>
        <div class="d-flex justify-content-center mt-3">
            <!-- Making the button smaller using btn-sm -->
            <a class="btn btn-danger btn-md" asp-action="Index" asp-controller="Post" asp-area="Admin"> Go Back</a>
        </div>
    </div>

</div>
<!-- /.container-fluid -->