@model NewsBlog.ViewModels.PasswordResetViewModel
@{
    ViewData["Title"] = "Password Reset";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="card-title text-white">Create new user</h4>
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="Id" />

                    <form asp-action="PasswordReset" asp-controller="User" asp-area="Admin">
                        <div class="mb-2">
                            <label>Username</label>
                            <input type="text" asp-for="UserName" class="form-control" disabled/>
                        </div>

                        <div class="mb-2">
                            <label>Email</label>
                            <input type="text" asp-for="Email" class="form-control" disabled/>
                        </div>

                        <div class="mb-2">
                            <label>New Password</label>
                            <input type="password" asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Repeat Password</label>
                            <input type="password" asp-for="RepeatPassword" class="form-control" />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <button type="submit" class="btn btn-success btn-block">Save</button>
                            </div>
                            <div class="col-md-6 mb-2">
                                <a class="btn btn-danger btn-block" asp-action="Index" asp-controller="User">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
