@model NewsBlog.ViewModels.PageViewModel
@{
    ViewData["Title"] = "About Us";



}
<header class="masthead" style="background-image: url('/MainPage/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>@Model.Title</h1>
                    <span class="subheading">@Html.Raw(Model.Description)</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            // rendering rich editor
            @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</main>
