@model NewsBlog.ViewModels.CreatePostViewModel
@{
    ViewData["Title"] = "Edit Post";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Updated column size to col-lg-6 for a wider form -->
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="card-title text-white">Create new post</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Post" asp-area="Admin" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ImageUrl" />
                        <!-- Image upload section -->
                        <div class="text-center mb-3">
                            <!-- Centered content -->
                            @{
                                if (Model.ImageUrl == null)
                                {
                                    <img src="~/images/uploadImage.jpg" class="img-fluid mb-2" id="blogimage" />
                                }
                                else
                                {
                                    <img src="~/images/@Model.ImageUrl" class="img-fluid mb-2" id="blogimage" />

                                }
                            }
                            <label>Upload Image</label>
                            <input type="file" asp-for="UploadImage" class="custom-file" />
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                        <!-- Text fields section -->
                        <div class="mb-3">
                            <label>Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Description</label>
                            <textarea id="textEditor" asp-for="Description" class="form-control" rows="10" style="resize:none;"></textarea> <!-- Made textarea non-resizable -->
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <!-- Submit and Cancel buttons -->
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <button type="submit" class="btn btn-success btn-block">Save</button>
                            </div>
                            <div class="col-md-6 mb-2">
                                <a class="btn btn-danger btn-block" asp-action="Index" asp-controller="Post">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('blogimage').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
}